In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
df = pd.read_csv('nyc-rolling-sales.csv')

In [3]:
df.drop(['Unnamed: 0'], inplace = True, axis = 1)

In [4]:
#reformatting the columns 
df.colunmns = ['BO_ROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE_MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE']
df.head()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [5]:
#getting the different types of objects in our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 21 columns):
BOROUGH                           84548 non-null int64
NEIGHBORHOOD                      84548 non-null object
BUILDING CLASS CATEGORY           84548 non-null object
TAX CLASS AT PRESENT              84548 non-null object
BLOCK                             84548 non-null int64
LOT                               84548 non-null int64
EASE-MENT                         84548 non-null object
BUILDING CLASS AT PRESENT         84548 non-null object
ADDRESS                           84548 non-null object
APARTMENT NUMBER                  84548 non-null object
ZIP CODE                          84548 non-null int64
RESIDENTIAL UNITS                 84548 non-null int64
COMMERCIAL UNITS                  84548 non-null int64
TOTAL UNITS                       84548 non-null int64
LAND SQUARE FEET                  84548 non-null object
GROSS SQUARE FEET                 84548 non-null object
YEAR BUILT                        84548 non-null int64
TAX CLASS AT TIME OF SALE         84548 non-null int64
BUILDING CLASS AT TIME OF SALE    84548 non-null object
SALE PRICE                        84548 non-null object
SALE DATE                         84548 non-null object
dtypes: int64(9), object(12)
memory usage: 13.5+ MB

In [6]:
df['NEIGHBORHOOD'] = df['NEIGHBORHOOD'].astype('category')
df['BUILDING CLASS CATEGORY'] = df['BUILDING CLASS CATEGORY'].astype('category')
df['TAX CLASS AT TIME OF SALE'] = df['TAX CLASS AT TIME OF SALE'].astype('category')
df['TAX CLASS AT PRESENT'] = df['TAX CLASS AT PRESENT'].astype('category')
df['LAND SQUARE FEET'] = pd.to_numeric(df['LAND SQUARE FEET'], errors='coerce')
df['GROSS SQUARE FEET']= pd.to_numeric(df['GROSS SQUARE FEET'], errors='coerce')
df['SALE DATE'] = pd.to_datetime(df['SALE DATE'], errors='coerce')
df['SALE PRICE'] = pd.to_numeric(df['SALE PRICE'], errors='coerce')
df['BOROUGH'] = df['BOROUGH'].astype('category')

In [7]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASE-MENT                             0
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                      0
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                  26252
GROSS SQUARE FEET                 27612
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                        14561
SALE DATE                             0
dtype: int64

In [8]:
del df['ADDRESS']
del df['APARTMENT NUMBER']
del df['BUILDING CLASS AT PRESENT']
del df['BUILDING CLASS AT TIME OF SALE']

In [9]:
df['EASE-MENT'].describe()

count     84548
unique        1
top
freq      84548
Name: EASE-MENT, dtype: object

In [10]:
del df['EASE-MENT']

In [11]:
df['BOROUGH'].describe()

count     84548
unique        5
top           4
freq      26736
Name: BOROUGH, dtype: int64

In [12]:
df['BOROUGH'].value_counts()

4    26736
3    24047
1    18306
5     8410
2     7049
Name: BOROUGH, dtype: int64

In [13]:
df['BOROUGH']= pd.to_numeric(df['BOROUGH'], errors='coerce')

In [14]:
df['TAX CLASS AT TIME OF SALE'].describe()

count     84548
unique        4
top           1
freq      41533
Name: TAX CLASS AT TIME OF SALE, dtype: int64

In [15]:
df['TAX CLASS AT TIME OF SALE'].value_counts()

1    41533
2    36726
4     6285
3        4
Name: TAX CLASS AT TIME OF SALE, dtype: int64

In [16]:
df['TAX CLASS AT TIME OF SALE']= pd.to_numeric(df['TAX CLASS AT TIME OF SALE'], errors='coerce')
df = df.drop(['TAX CLASS AT PRESENT'], axis = 1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 15 columns):
BOROUGH                      84548 non-null int64
NEIGHBORHOOD                 84548 non-null category
BUILDING CLASS CATEGORY      84548 non-null category
BLOCK                        84548 non-null int64
LOT                          84548 non-null int64
ZIP CODE                     84548 non-null int64
RESIDENTIAL UNITS            84548 non-null int64
COMMERCIAL UNITS             84548 non-null int64
TOTAL UNITS                  84548 non-null int64
LAND SQUARE FEET             58296 non-null float64
GROSS SQUARE FEET            56936 non-null float64
YEAR BUILT                   84548 non-null int64
TAX CLASS AT TIME OF SALE    84548 non-null int64
SALE PRICE                   69987 non-null float64
SALE DATE                    84548 non-null datetime64[ns]
dtypes: category(2), datetime64[ns](1), float64(3), int64(9)
memory usage: 8.6 MB

In [18]:
df['NEIGHBORHOOD'].describe()

count              84548
unique               254
top       FLUSHING-NORTH
freq                3068
Name: NEIGHBORHOOD, dtype: object

In [19]:
# One Hot Encoding
# one_hot_encoded = pd.get_dummies(df["NEIGHBORHOOD"])
# df = df.drop(columns=["NEIGHBORHOOD"],axis=1)
# df = pd.concat([df, one_hot_encoded] ,axis=1)

# Label Encoding
# df["NEIGHBORHOOD"] = df["NEIGHBORHOOD"].cat.codes

In [20]:
df['BUILDING CLASS CATEGORY'].describe()

count                                           84548
unique                                             47
top       01 ONE FAMILY DWELLINGS
freq                                            18235
Name: BUILDING CLASS CATEGORY, dtype: object

In [21]:
# One Hot Encoding
# one_hot_encoded = pd.get_dummies(df["BUILDING CLASS CATEGORY"])
# df = df.drop(columns=["BUILDING CLASS CATEGORY"],axis=1)
# df = pd.concat([df, one_hot_encoded] ,axis=1)

# Label Encoding
# df["BUILDING CLASS CATEGORY"] = df["BUILDING CLASS CATEGORY"].cat.codes

In [22]:
df = df.drop(columns=["SALE DATE"],axis=1)

In [23]:
# from fancyimpute import KNN
# df = KNN(k=3).fit_transform(df)

In [24]:
df.isnull().sum()

BOROUGH                          0
NEIGHBORHOOD                     0
BUILDING CLASS CATEGORY          0
BLOCK                            0
LOT                              0
ZIP CODE                         0
RESIDENTIAL UNITS                0
COMMERCIAL UNITS                 0
TOTAL UNITS                      0
LAND SQUARE FEET             26252
GROSS SQUARE FEET            27612
YEAR BUILT                       0
TAX CLASS AT TIME OF SALE        0
SALE PRICE                   14561
dtype: int64